.text-updater-node {
  border: 1px solid #eee;
  background: cadetblue;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.text-updater-node div input {
  width: 100%;
  height: 100%;
}
.node-name {
  background-color: transparent;
  color: white;
}
.node-name.focus {
  border: 1px solid white;
}
.text-updater-node.focus {
  background-color: rgb(83, 202, 206);
}
