.text-updater-node {
  border: 1px solid #eee;
  background: cadetblue;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.text-updater-node .node-name {
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  text-wrap: wrap;
  height: auto;
}
.node-name {
  background-color: transparent;
  color: white;
  padding: 4px;
}
.node-name.focus {
  border: 1px solid white;
}
.text-updater-node.focus {
  background: rgb(75, 201, 206);
}
