.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: white;
  padding: 20px;
}

.text-updater-node label {
  display: block;
  color: black;
  font-size: 12px;
}
